html,
body,
#app,
#app > div {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  background-color: #222222;
  color: whitesmoke;
}

.menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navigation-menu {
  flex: 0 0 25%;
  border-right: 2px solid white;
  height: 100%;
}

.viewer {
  padding: 5px;
  width: 100%;
  background-color: #333333;
}
