html,
body,
#app,
#app > div {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  background-color: #222222;
  color: whitesmoke;
}

.menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navigation-menu {
  flex: 0 0 15%;
  border-right: 2px solid slategrey;
  height: 100%;
  padding-left: 10px;
}

.viewer {
  /* padding: 5px; */
  width: 100%;
  background-color: #333333;
}

.note span {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
}

.notebook span:hover {
  color: sandybrown;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}

.note span:hover {
  color: greenyellow;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}

.minusSign::before {
  display: inline-block;
  content: "-";
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-weight: bolder;
  margin-right: 3px;
}

.plusSign::before {
  display: inline-block;
  content: "+";
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 15px;
  margin-right: 3px;
}

.toolbar-button {
  display: inline-block;
  line-height: 15px;
  text-align: center;
  font-size: 15px;
  margin-right: 3px;
  cursor: pointer;
  padding: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

.right {
  content: "Show";
  background-color: green;
}
.left {
  content: "Hide";
  background-color: red;
}

.circled::before {
  border: 2px solid white;
  border-radius: 15px;
}

.squared::before {
  border: 2px solid white;
  border-radius: 7px;
}

.hidden {
  display: none;
}

/* MARKDOWN EDITOR */
.markdown-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.markdown-editor-dualview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  background-color: #222222;
  color: whitesmoke;
}

.md-editor-column {
  flex: 0 0 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.md-editor-column-toolbar {
  flex: 0 0;
  height: 100%;
  background-color: slateblue;
}

.md-editor-textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5px;
  background-color: #333333;
  color: wheat;
  outline: none;
  resize: none;
  border: 0;
}
.md-editor-preview {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
